{% extends 'base.html' %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h2>{{ data.title }}</h2>
            <p class=""><strong>Цена установки:</strong> {{ data.price }} руб.</p>
            <p class=""><strong>Время установки:</strong> {{ data.time }} мин.</p>
            <p class=""><strong>Размер:</strong> {{ data.size }}</p>
            <p class="py-2"><strong>Описание</strong></p>
        </div>
        <div class="col">
            <img src="{{ data.logo_file_path }}" alt="{{ data.logo_file_path }}"
                 width="200px">
        </div>
    </div>
    <p>{{ data.description }}</p>
{% endblock %}
