{% extends 'base.html' %}

{% block title %}Экспедиция{% endblock %}

{% block content %}
    <div class="card mb-4 mt-4 rounded-0">
        <div class="card-body bg-black text-white border-white">
            <h5 class="card-title">
                Цель полета: <strong>Полет на Луну</strong>
            </h5>
        </div>
    </div>
    {% for astronaut in data.astronaut_list %}
        <div class="card mb-3 rounded-0 bg-black text-white border-white">
            <div class="row g-0">
                <div class="col-md-2">
                    <div class="card-body">
                        <img src="{{ astronaut.logo_file_path }}" width="100px" class="img-fluid"
                             alt="{{ astronaut.logo_file_path }}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="text-white text-decoration-none"
                               href="{% url 'astronaut_url' astronaut.id %}">{{ astronaut.name }}</a>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <p class="card-text text-white"><strong>{{ astronaut.specialization }}</strong></p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                    <div class="card-body">
                        <a class="btn leader-btn">Назначить лидером</a>
                    </div>
                </div>
            </div>
    {% empty %}
        <div class="alert alert-danger not-found-alert" role="alert">
            В экспедиции нет астронавтов            
        </div>
    {% endfor %}
    <!-- <div class="card mb-3 mt-4">
        <div class="row g-0">
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">
                        ИТОГО:
                    </h5>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card-body">
                    <strong>{{ data.total }} руб.</strong>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}