{% extends 'base.html' %}

{% block title %}Заказ{% endblock %}

{% block content %}
    <div class="card mb-3 mt-4">
        <div class="card-body">
            <h5 class="card-title">
                Сервер пользователя: <strong>123.43.23.53</strong>
            </h5>
        </div>
    </div>
    {% for software in data.astronaut_list %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-2">
                    <div class="card-body">
                        <img src="{{ software.logo_file_path }}" width="100px" class="img-fluid rounded-start"
                             alt="{{ software.logo_file_path }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="text-black text-decoration-none"
                               href="{% url 'software_url' software.id %}">{{ software.title }}</a>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <p class="card-text">Версия: <strong>v3.0</strong></p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <p class="card-text"><strong>{{ software.price }} руб.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-danger not-found-alert" role="alert">
            Корзина пуста
        </div>
    {% endfor %}
    <div class="card mb-3 mt-4">
        <div class="row g-0">
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">
                        ИТОГО:
                    </h5>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card-body">
                    <strong>{{ data.total }} руб.</strong>
                </div>
            </div>
        </div>
    </div>
{% endblock %}