{% extends 'base.html' %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col text-white">
            <h2>{{ data.title }}</h2>
            <p class="name-display"><strong> {{ data.name }} </strong></p>
            <p class=""><strong>Страна:</strong> {{ data.country }} </p>
            <p class=""><strong>Специальность:</strong> {{ data.specialization }}</p>

            <p class=""><strong>Время в космосе:</strong> {{ data.space_time }} сут.</p>
            <!-- <p class=""><strong>Дата рождения:</strong> {{ data.specialization }}</p> -->
            <p class="py-2"> {{ data.biography|linebreaks }}  </p>
        </div>

        <div class="col mt-4">
            <img src="{{ data.logo_file_path }}" alt="{{ data.logo_file_path }}"
                 width="300px">
        </div>
        
    </div>
    <p>{{ data.description }}</p>
{% endblock %}
