{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <h3  class="text-center">Полет</h3>

         <div class="form-group">
            <label class="form-label">Название миссии</label>
            {% if flight.field %}
                <input placeholder="Введите название миссии" disabled type="text" class="form-control rounded-0" style="width: 250px" value="{{ flight.field }}">
            {% else %}
                <input placeholder="Введите название миссии" disabled type="text" class="form-control rounded-0" style="width: 250px">
            {% endif %}
        </div>

        <div class="form-group">
            <label class="form-label">Цель миссии</label>
            {% if flight.field %}
                <input placeholder="Введите цель миссии" disabled type="text" class="form-control rounded-0" style="width: 250px" value="{{ flight.field }}">
            {% else %}
                <input placeholder="Введите цель миссии" disabled type="text" class="form-control rounded-0" style="width: 250px">
            {% endif %}
        </div>

        <div class="form-group">
            <label class="form-label">Дата вылета</label>
            {% if flight.field %}
                <input placeholder="Введите дату вылета" disabled type="text" class="form-control rounded-0" style="width: 500px" value="{{ flight.field }}">
            {% else %}
                <input placeholder="Введите дату вылета" disabled type="text" class="form-control rounded-0" style="width: 500px">
            {% endif %}
        </div>

        <form method="post" action="{% url 'delete_flight' flight.id %}">
            {% csrf_token %}
                <button class="btn btn-danger delete-draft-flight-btn rounded-0" type="submit">
                    Удалить
                </button>
            </a>
        </form>

        <h4 class="text-center">Астронавты</h4>

        <div class="cards-wrapper d-flex flex-column">

            {% for astronaut in flight.get_astronauts %}

                {% include "astronaut_card.html" %}

            {% endfor %}

        </div>

    </main>
{% endblock content %}